.about-container {
    margin-top: -10rem;
}

.terminal {
    width: 100%; 

    &-header {
        height: 28px;
        background-color: #e4e3e5;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-window {
        width: 100%;
        background-color: $c-light-black;
        border-radius: 0 0 4px 4px;
    }

    &-info {
        padding: 1rem 2rem;
        font-family: 'Monaco';
        color: white;
    }

    &-group {
        margin-bottom: 2rem;
    }

    &-title {
        opacity: 0.5;
    }
}

.header-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 9px;
}

.red {
    background-color: #f96256;
    border: 1px solid #f65549;
}

.yellow {
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
}

.green {
    background-color: #33c948;
    border: 1px solid #2dbb41;
}

.link {
    color: $c-secondary; 
    
    &:hover {
        color: $c-secondary-light;
    }
}