$m-gutter: 1rem;

$c-white: #ffffff;

@import 'reset.scss';
@import 'navbar.scss';
@import 'home.scss';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

