$m-gutter: 1rem;

$c-black: rgb(4, 2, 1);
$c-grey: rgb(112, 113, 117);

$c-light-black: rgb(58, 58, 58);
$c-white: rgb(255, 255, 255);
$c-primary: rgb(249, 66, 30);
$c-primary-light: rgb(249, 88, 55);
$c-secondary: rgb(189, 236, 239);
$c-secondary-light: rgb(217, 248, 250);

@import 'reset.scss';
@import 'hover.scss';
@import 'navbar.scss';
@import 'home.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'contact.scss';

@import url('https://fonts.googleapis.com/css?family=Hind');

.container {
  max-width: 62rem;
  margin: 0 auto;
  padding: 2rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.box-shadow {
  box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
}

.footer {
  text-align: center;
  padding: 3rem 0;  
}