.contact {
    &-grid {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: calc(100% / 4 - 2rem);
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-circle {
        background: $c-light-black;
        color: $c-white;
        width: 35%;
        padding: 2rem;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    &-icon {
        width: 100%;
        height: 100%;
    }

    &-text {
        color: $c-light-black;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .contact-grid__item {
        width: calc(100% / 2 - 2rem);
    }
}