.top-background {
    position: relative;
    width: 100%;
    height: 760px;
    background: url('../img/bg-bw.jpg') center;
    background-size: cover;
    z-index: -9999;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 490px, 100% 0);
}

.hero {
    font-family: 'Monaco';
    position: absolute;
    top: 13%;
    left: 10%;

    &-title {
        background: white;
        color: $c-primary;
        margin: 0;
        padding: 0 0.5rem;
        font-size: 4.5rem;
    }

    &-subtitle {
        background: white;
        margin: 0;
        padding: 0 0.5rem;
        font-size: 2rem;
    }
}