.navbar {
    position: absolute;
    top: 0;
    width: 100%;

    &-end {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
    
    &__link {
        font-size: 1.2rem;
        color: #ffffff;
        margin: 0 1.6rem;
        cursor: pointer;
    }
}