.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.block {
    margin: 0.5rem;
    width: 2rem;
    height: 0.3rem;
    background: rgb(150, 181, 141);
}

.project {
    &-card {
        display: flex;
        margin-bottom: 4rem;
        border-radius: 4px;
        background: white;
    }

    &-screenshot {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 40%;
        height: 100%;
    }

    &-content {
        padding: 3rem;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &-skills {
        display: flex;
    }

    &-skill {
        border: 2px solid rgb(150, 181, 141);
        padding: 5px 8px;
        font-size: 0.8rem;
    }

    &-links {
        margin: 0;
    }

    &-link {
        text-transform: uppercase;
        padding: 7px 10px;
        color: white;
        background:rgb(150, 181, 141);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        font-size: 1rem;

        &:hover {
            background: rgb(181, 220, 171);
        }
    }

    &-button {
        margin: 0 1rem 1rem 0;
        border-radius: 4px;
    }
}