.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.block {
    margin: 0.5rem;
    width: 2rem;
    height: 0.3rem;
    background: rgb(150, 181, 141);
}